.wrapper {
    display: flex;
    width: fit-content;
}

.wrapper .face {
    width: 350px;
    height: 450px;
    border-radius: 50%;
    border: 2px solid #a09c9c;
    border-bottom: 1px solid transparent;
    position: relative;
}

.wrapper .face .neck {
    border-left: 1.8px solid #a09c9c;
    border-right: 1.8px solid #a09c9c;
    position: absolute;
    bottom: 0;
    background: transparent;
    bottom: .9rem;
    left: 16%;
    right: 16%;
    height: 2.7rem;
}

.wrapper .face .neck::before,
.wrapper .face .neck::after {
    content: '';
    z-index: -1;
    position: absolute;
    height: 6rem;
    background: #a09c9c;
    width: 1px;
    right: 0rem;
    bottom: 0;
    bottom: -4.2rem;
}

.wrapper .face .neck::after {
    left: -2.8rem;
    -webkit-transform: rotate(66deg);
    transform: rotate(66deg);
}

.wrapper .face .neck::before {
    right: -2.8rem;
    -webkit-transform: rotate(-66deg);
    transform: rotate(-66deg);
}